// SPDX-License-Identifier: GPL-2.0
/*
 * Shared for myd-y6ull-14x14-nand-ddr256.dts and myd-y6ull-14x14-nand-ddr256-ecspi.dts:
 * DDR256, GPMI + fixed-partitions, SDIO WiFi on USDHC2 (LCD pin mux).
 * WiFi pinctrl is defined here so dtc always resolves the phandle (see pinctrl_wifi_nand).
 */

&{/memory@80000000} {
	reg = <0x80000000 0x10000000>;
};

&{/reserved-memory/linux,cma} {
	size = <0x04000000>;
};

&qspi {
	status = "disabled";
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand_1>;
	fsl,max-nand-cs = <1>;
	status = "okay";

	nand@0 {
		reg = <0>;
		nand-on-flash-bbt;
		fsl,use-minimum-ecc;
	};

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "boot";
			reg = <0x00000000 0x00500000>;
		};
		partition@500000 {
			label = "env";
			reg = <0x00500000 0x00100000>;
		};
		partition@600000 {
			label = "kernel";
			reg = <0x00600000 0x00a00000>;
		};
		partition@1000000 {
			label = "dtb";
			reg = <0x01000000 0x00100000>;
		};
		/* 256MiB raw: 0x10000000 - 0x01100000 */
		partition@1100000 {
			label = "rootfs";
			reg = <0x01100000 0x0ef00000>;
		};
	};
};

&usdhc2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	max-frequency = <50000000>;
	pinctrl-0 = <&pinctrl_usdhc2_alt &pinctrl_wifi>;
	bus-width = <4>;
	no-1-8-v;
	non-removable;
	pm-ignore-notify;
	cap-power-off-card;
	status = "okay";

	brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};
