// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 MYIR
 */

#include "myd-jx8mp-base.dts"

/ {

	
	
  panel: panel-lvds0 {
    compatible = "panel-lvds";
    backlight = <&lvds_backlight>;
    
		width-mm = <230>;
		height-mm = <150>;
    data-mapping = "vesa-24";
		panel-timing {
				clock-frequency = <71000000>;
				hactive = <1280>;
				hfront-porch = <60>;
				hsync-len = <17>;
				hback-porch = <60>;
				 
				vactive = <800>;
				vfront-porch = <10>; 
				vsync-len = <3>;
				vback-porch = <10>;
				
				
	  };

    port {
        panel_in_lvds0: endpoint {
            remote-endpoint = <&lvds_out>;
        };
    };
	};
	
	lvds_backlight: lvds_backlight {
		status = "okay";
	};
	
};

&i2c3 {


    
    	/* 10.1-inch , touch    */ 
		gt9271@14 {
				compatible = "goodix,gt9271";
				reg = <0x14>;
				pinctrl-names = "default";
				pinctrl-0 = <&atk_pins>;
				
				interrupt-parent = <&gpio1>;
				interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
				
			
				esd-recovery-timeout-ms = <2000>;
				irq-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
};

&lcdif2 {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@1 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_in_lvds0>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};


&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
	status = "okay";
};

&iomuxc {
		atk_pins:pinctrl_atk {
			fsl,pins = <
				MX8MP_IOMUXC_GPIO1_IO13__GPIO1_IO13        0x19
				MX8MP_IOMUXC_GPIO1_IO10__GPIO1_IO10        0x19
			>;
		};

		pinctrl_pwm2: lvds0pwm2grp {
			fsl,pins = <
				MX8MP_IOMUXC_GPIO1_IO11__PWM2_OUT	0x116
			>;
		};		
};


&lcdif1{

	status = "disabled";
};

&mipi_dsi{
	status = "disabled";
};

&lcdif3{

	status = "disabled";
};

&irqsteer_hdmi {
	status = "disabled";
};

&hdmi_blk_ctrl {
	status = "disabled";
};

&hdmi_pavi {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&hdmiphy {
	status = "disabled";
};